#container {
    background-size: 50px 50px;
    border: solid 1px;
    position: relative;
    background: url(../img/grid.png) #060606;
    background-size: 50px;
}

.widget {
    position: absolute;
    border: solid 1px #555;
    background-color: #555;
    opacity: 0.8;
    cursor: pointer;
    color: #ccc;
}